@model User
@{
    Layout = "_Layout";
}
<head>
   
    <link rel="stylesheet" href="~/css/profile.css" />
  
</head>
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="~/Upload/@Model.ImagePath" alt="" />

                  @*   @using (Html.BeginForm("UploadFile", "UserController", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadForm" }))
                    {

                        <div class="file btn btn-lg btn-primary" style="cursor:pointer;">
                            <label for="FileInput" class="control-label">Choose a File</label>
                            <input type="file" name="File" id="FileInput" />
                        </div>
                    } *@

                    @* <div class="file btn btn-lg btn-primary" style="cursor:pointer;">
                        Change Photo
                        <input type="file" name="ImageData" id="ImageData" onchange="uploadImage();" style="cursor:pointer" />
                    </div> *@
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h1 style="color:#425cbb">
                        @Model.FirstName @Model.LastName
                    </h1>
                    <h6>
                        @Model.Role
                    </h6>
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <a class="col-md-2" href="~/User/EditProfile">
                <input value="Edit" class="profile-edit-btn" name="btnAddMore" 
                style="text-align:center; font-size:14px; margin-top:80px"/>
            </a>
        </div>
        <div class="row">
            @* <div class="col-md-4">   
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">Web Designer</a><br />
                    <a href="">Web Developer</a><br />
                    <a href="">WordPress</a><br />
                    <a href="">WooCommerce</a><br />
                    <a href="">PHP, .Net</a><br />
                </div>
            </div >*@
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>UserName</label>
                            </div>
                            <div class="col-md-6">
                                @* like Discord kendor#6760 *@
                                <p>@Model.UserName</p> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.FirstName @Model.LastName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Email</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Age</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Age</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.PhoneNumber</p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6">
                                <label>City</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.City</p>
                            </div>
                        </div>
                        
                       
                        @{
                            if(Model.Role == "Tutor")
                            {
                                <div class="row">

                                    <div class="col-md-6">
                                        <label>Department</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Web Developer and Designer</p>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Description :</label>
                                        </div>
                                        <div class="col-md-7">
                                            <p style="font-size:13px;color: #8d8d8d;">
                                                CairoCairoCairoCairoCairoCairoCairoCairoCairoCairo
                                                CairoCairoCairoCairoCairoCairoCairoCairoCairoCairo
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            }
                        }

                      
                </div>

                <div class="col-md-2" style="display:none" id="profile-edit-btn">
                    <input type="submit" class="profile-edit-btn"  name="btnAddMore" value="Save" style="background-color:#1d7443;
                       margin-left:540px;
                       padding:10px;
                       width:109%;
                       
                        " />
                </div>
            </div>
        </div>
    </form>
</div>

